{% from "_macros.html" import render_field, render_tags, user_box %}
{% extends "_base.html" %}

{% block style %}
	<style type="text/css">
		.col-md-2 > a > img {
			width: 25px;
			height: 25px;
			color: white;
		}
	</style>
{% endblock %}

{% block content %}
	
	{% if current_user.is_authenticated %}

<div class="row col-md-offset-1">
	<div class="col-md-2">
		<a type="button" class="btn btn-default btn-block" href="{{url_for('.index', type='movies')}}"> <img src="{{url_for('static', filename='Movie.png')}}"> Movies</a>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<a type="button" class="btn btn-default btn-block" href="{{url_for('.index', type='books')}}"> <img src="{{url_for('static', filename='book.png')}}"> &nbsp; Books</a>
	</div> 
	<div class="col-md-2 col-md-offset-1">
		<a type="button" class="btn btn-default btn-block" href="{{url_for('.index', type='articles')}}"> <img src="{{url_for('static', filename='article.png')}}"> Articles</a>
	</div> 
	<div class="col-md-2 col-md-offset-1">
		<a type="button" class="btn btn-default btn-block" href="{{url_for('.index', type='songs')}}"> <img src="{{url_for('static', filename='audio.png')}}"> &nbsp; Songs</a>
	</div> 
</div>

<br>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
				
				{% for row in current_user.get_similar_posts(category) %}
				<div class="panel panel-default">

					<div class="panel-body">
						<h5>Tags</h5>
						{{render_tags(current_user.get_post_tags(row.posts.id))}}

						<a href="{{row.posts.link or '#'}}"><h3>{{row.posts.title}}</h3></a>
						{% if row.posts.image_url %}
							<img width="120px" class="pull-right" src="{{row.posts.image_url}}" />
						{% endif %}
						<p>{{row.posts.text}}</p>
						
						
						<p><small>Posted on {{row.posts.date}}</small></p>
						<br/>
						<div class="row">
							<div class="col-md-12">
								{{user_box(row.user)}}
						
								{% if current_user.has_liked_post(row.posts.id) %}
									<button type="button" class="btn btn-success">
										<img width="25px" src="{{url_for('static', filename='liked.png')}}"> Liked</button>
								{% else %}
									<form action="/like-post" method="POST">
										{{like.csrf_token}}
										{{like.post_id(value=row.posts.id)}}
										{{like.submit(class='btn btn-info')}}
									</form>
								{% endif %}
							</div>
						
						</div>
					</div>
				</div>
				{% else %}
					<h4>No posts</h4>
				{% endfor %}

			  </div>
			</div>
		</div>
	</div>
	
	{% else %}	
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<img class="text-" src="{{url_for('static', filename='index.png')}}">
				
			</div>
			<div class="col-md-4 col-md-offset-4">
				<h1>Find like-minded people.</h1>
			</div>
		</div>
	{% endif %}

	


	
	

{% endblock %}